@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text&display=swap');

body {
  background-color: black;
}

.container {
  background-color: #262833;
  color: white;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border: 5px solid white;
  margin-top: 10%;
  font-family: 'Big Shoulders Inline Text', cursive;

}

img {
  width: 200px;
  height: 200px;
}

h1 {
  color: #7e8ce0;
  font-size: 60px;
}
h2 {
  color: #36c7d0;
  font-size: 20px;
}

a:link {
  color: #7e8ce0;
}
a:visited {
  color: #ffa48e;
}

a:hover {
  color: #36c7d0;
}

a:active {
  color: #36c7d0;
}

li {
  color: #36c7d0;
  list-style: none;
  padding: 10px 0 0 0;
}

p {
  font-size: 40px;
}

input, button{
  width: 100px;
}