<h1><%= title %></h1>
<form method="POST" action="/cryptids">
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name" placeholder="Name">
    <label for="cryptidImg">Image Url</label>
    <input id="cryptidImg" type="text" name="img_url" placeholder="Img url">
    <input type="submit">
  </form>