<form method = "GET" action = "/dinosaurs">
    <label for="nameFilter"> Filter By Name</label>
    <input type="text" name="nameFilter" id="nameFilter">
    <input type = "submit">

</form>



<ul>
    <% dinosaurs.forEach((dino, index) => { %>
    <li><%= dino.name %> is a <%= dino.type %>
        <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    </li>
    <% }); %>
  </ul>


  <!-- ?_method overrides the POST method -->