<h1><%= title %></h1>
<form method="POST" action="/dinosaurs">
    <label for="dinosaurName">Name</label>
    <input id="dinosaurName" type="text" name="name" placeholder="Name">
    <label for="dinosaurType">Type</label>
    <input id="dinosaurType" type="text" name="type" placeholder="Type">
    <input type="submit">
  </form>

  <!-- id = id, type = type of inpput, **name = key**, value = user input -->